@font-face {
  font-family: "mk grotesk";
  src: url(fonts/HankenGrotesk-VariableFont_wght.ttf);
}
body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "mk grotesk";

  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  position: fixed;
  top: 0;
  background: linear-gradient(to bottom, #15009b, #2c2740);
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title h1 {
  font-size: 5rem;
  margin-bottom: 0;
}
.title p {
  margin-top: 0;
  font-size: 2rem;
  font-style: normal;
  text-transform: uppercase;
}

#startBtn {
  border: none;
  border-radius: 15px;
  padding: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #12229d;
  font-size: 1rem;
  cursor: pointer;
}
#startBtn:hover {
  background-color: rgba(255, 255, 255, 0.466);
  color: #050a30;
  transition: all 0.3s ease;
}
.breaks-section {
  background-color: rgba(240, 248, 255, 0.39);
  position: relative;
  justify-self: center;
  align-self: center;
  border-radius: 15px;
  width: 40vw;
  min-height: 80vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: center;
  box-shadow: 15px 15px 30px rgb(29, 9, 75), -15px -15px 30px rgb(99, 31, 189);
}

#breaksCreated {
  max-height: 500px;
  overflow-y: auto;
  margin: 2rem;
}
#titleMain {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
}
.breaks-section button {
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-family: "mk grotesk";
}
#setBreak {
  display: none;
  justify-content: center;
  color: #050a30;
  background-color: rgba(223, 223, 223, 0.466);
  position: fixed;

  /* transform: translate(-50%, -20%); */
  z-index: 9999;
  width: 39vw;
  border-radius: 15px;
  padding: 6px;
  /* transform: translateY(-20px); */
  align-items: center;
  opacity: 0;
  transition: all 0.2s ease;
  height: 10vh;
  font-size: 1.4rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
#addBreak {
  cursor: pointer;
  transition: all 0.5s ease;
  align-content: center;
}
#addBreak:hover {
  background-color: #050a30;
  color: white;
  transform: scale(1.1);
}

#setBreak .selectTime {
  position: relative;
  display: inline-block;
  margin: 10px;
}
#setBreak select::-webkit-scrollbar {
  width: 5px;
}

.timeBtn {
  /* background-color: transparent; */
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 4px;
  cursor: pointer;
}

.breaksBtn {
  background-color: #050a30;
  margin: 10px;
  color: white;
  padding: 10px;
  cursor: pointer;
}

#dropdownHours {
  display: none; /* Oculto por defecto */
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  max-height: 150px; /* 🔥 Limita la altura */
  overflow-y: auto; /* Activa el scroll */
}

.dropdown {
  display: none; /* Oculto por defecto */
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  max-height: 150px; /* 🔥 Limita la altura */
  overflow-y: auto; /* Activa el scroll */
  width: 60px;
  border-radius: 15px;
  scrollbar-width: none;

  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s ease;
}

.dropdown div {
  padding: 5px;
  cursor: pointer;
}
.dropdown div:hover {
  background: #a56262;
}
#breakCreated img {
  cursor: pointer;

  transition: all 0.5s ease;
  padding: 4px;
}
#deleteBreak {
  cursor: pointer;

  transition: all 0.5s ease;
}
@keyframes shake {
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-6deg);
  }
  75% {
    transform: rotate(9deg);
  }
}
#breakCreated img:hover {
  animation: shake 0.5s ease-in-out;
  background-color: #e2efff;
  border-radius: 15px;
  transform: scale(1.2);
}
#breakCreated {
  display: flex;
  align-items: center;
  justify-self: center;
  margin: 2rem;
  background-color: #f4f6fc;
  color: #050a30;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.3rem;
  transition: all 0.3s ease;
}
#breakButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 1rem;
}
.break-editing {
  background-color: #050a30 !important;
  color: white !important;

  border: 1px solid white !important;
  transition: background 0.3s;
}

@media (max-width: 1100px) {
  .container {
    height: 100vh;
  }
  #setBreak {
    justify-self: flex-start;
    width: 60vw;
    height: 15vh;
    font-size: 1.5rem;
    top: 30vh;
  }
  .breaks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .title h1 {
    font-size: 3rem;
  }
  .title p {
    font-size: 1.5rem;
  }
  #startBtn {
    padding: 15px;
    font-size: 0.8rem;
  }
  .breaks-section {
    width: 80vw;
    min-height: 70vh;
    padding: 5px;
  }
}
@media (max-width: 600px) {
  .container {
    height: 100vh;
    overflow: hidden;
  }
  #setBreak {
    width: 80vw;
    height: 20vh;
    font-size: 1.2rem;
  }
  .title h1 {
    font-size: 2.5rem;
  }
  .title p {
    font-size: 1.2rem;
  }
  #startBtn {
    padding: 10px;
    font-size: 0.7rem;
  }
  body {
    overflow: hidden;
  }
}
